body{
    text-align: center;
    background:#181818;
}




#home{
    background-image: url("coffee-2085314_1280.png");

    /* Set a specific height */
    height: 100vh;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.menu{
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.menu__name{
    display: inline-block;
    margin-top:20px;
    font-size:30px;
}

.menu__name__link{
    color:white;
    text-decoration: none;
}

.menu__row {
    float: right;
    margin-right:10%;
}

.menu__list{
    display: inline-block;
    margin-top:20px;

}

.menu__link{
    color:white;
    text-decoration: none;
}


.downArrow{
    color:white;

}








/* looks horrible  on larger screens fix soon */



#projects{

    height:100vh;
    color:white;
    text-align:center;
    background:#3F250B;

}

#projects a{
    color:white;


}
.codepen{
    max-width: 90%;
    height: auto;


}



.codepen:first-child{
    margin-top:120px;
}
#projects li{

    display: inline-block;
}

/*resume has a seperate stylesheet that includes the
    css for #resume
    */


#contact{
    height: 100vh;
}
@media (min-width: 480px) {
    .menu__name {
        margin-left:10%;
        float: left;
    }

}